/* line 1, ../../app/assets/stylesheets/qr_code.scss */
section.content {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  padding: 15px;
  margin: 15px;
}
/* line 7, ../../app/assets/stylesheets/qr_code.scss */
section.content a, section.content input[type='submit'] {
  font-size: 1.5em;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
/* line 29, ../../app/assets/stylesheets/qr_code.scss */
section.content .link {
  margin-top: 15px;
}

/* line 35, ../../app/assets/stylesheets/qr_code.scss */
.qr_code_wrap {
  width: auto;
  border: solid 10px white;
  display: inline-block;
  margin: 20px;
}

/* line 42, ../../app/assets/stylesheets/qr_code.scss */
.qr_code_link {
  display: inline-block;
}
/* line 44, ../../app/assets/stylesheets/qr_code.scss */
.qr_code_link .qr_code_wrap:hover {
  border-color: #f9a31a;
}

/* line 49, ../../app/assets/stylesheets/qr_code.scss */
table.qr_code {
  border-collapse: collapse;
  display: inline-block;
}
/* line 52, ../../app/assets/stylesheets/qr_code.scss */
table.qr_code td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
}
/* line 61, ../../app/assets/stylesheets/qr_code.scss */
table.qr_code td.black {
  background-color: black;
}
/* line 64, ../../app/assets/stylesheets/qr_code.scss */
table.qr_code td.white {
  background-color: white;
}
/* line 69, ../../app/assets/stylesheets/qr_code.scss */
table.qr_code.small td {
  width: 3px;
  height: 3px;
}
