- qr = qr_code.to_qr_code
- small ||= false
- css_class = 'qr_code'
- css_class += ' small' if small

%table{:class => css_class}
  - qr.modules.each_index do |x|
    %tr
      - qr.modules.each_index do |y|
        - if qr.dark?(x, y)
          %td.black
        - else
          %td.white
