- unless qr_code.blank?
  - qr = qr_code.to_qr_code
  - small ||= false
  - css_class = 'qr_code'
  - css_class += ' small' if small

  %a{ :href => qr_code_path(qr_code), :class => 'qr_code_link' }
    .qr_code_wrap
      %table{:class => css_class}
        - qr.modules.each_index do |x|
          %tr
            - qr.modules.each_index do |y|
              - if qr.dark?(x, y)
                %td.black
              - else
                %td.white

  -# %p= link_to 'Download PNG Image', "#{url_for qr_code}.png", :class => 'download_qr_image button small'