%section.content
  Adding a QR code is quick and easy.
  .link
    = link_to "Create One Now!", new_qr_code_path

%section.recent
  %header Recent QR Codes
  = render :partial => 'qr_codes/qr_code', :collection => collection, :locals => { :small => true }
