%section.intro
  One QR code, hot off the presses!

%section.code
  Whoops! I don't know how to generate a QR code. If I did, there would be a kickin' rad one below
  %div.qr_code_image= resource.data